---
title: "Home Page"
layout: home
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: unsplash-image-1.jpg
  cta_label: "Lihat Produk"
  cta_url: "semua-produk"
  caption: "muxlim gallery"
excerpt: "Bacon ipsum dolor sit amet salami ham hock ham, hamburger corned beef short ribs kielbasa biltong t-bone drumstick tri-tip tail sirloin pork chop."
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
feature_row:
  - image_path: banner/banner-grosir-karpet-karakter.png
    alt: "Karpet Bulu Rasfur"
    title: "Karpet Bulu Rasfur"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "karpet"
    btn_label: "Lihat Karpet"
    btn_class: "btn--inverse"
  - image_path: banner/banner-grosir-sajadah-reznez.png
    alt: "Sajadah Rasfur"
    title: "Sajadah Rasfur"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "sajadah"
    btn_label: "Lihat Sajadah"
    btn_class: "btn--inverse"
  - image_path: banner/banner-grosir-bantal-guling.png
    alt: "Bantal Guling Rasfur"
    title: "Bantal Guling Rasfur"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_row2:
  - image_path: unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
paginate:
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
